*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
       list-style: none;
       display: flex;
    }
    li {
        margin-right: 2.5rem;
        a {
            text-decoration: none;
            color: grey;
            &:hover{
                color: red;
            }
        }
    }
}
$primary-color: #24a0ed;

.text {
    color: $primary-color;
}
button {
    color: $primary-color;
    border: 2px solid $primary-color;
}